name: CI
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - run: pnpm install -g pnpm
      - run: pnpm install
      - run: pnpm -s -r lint
      - run: pnpm -s -r test
